<?xml version="1.0" encoding="utf-8"?>
<root>
	<resources dirImages="res/zh_CN/assets/image/"
				dirAudio="res/zh_CN/assets/audio/"
				dirRpg="res/zh_CN/assets/rpg/"
				dirSlg="res/zh_CN/assets/slg/"
				dirTab="res/zh_CN/config/table/"
				dirSetting="res/zh_CN/config/setting/"
				dirLang="res/zh_CN/config/language/"
				dirUIXml="res/zh_CN/config/uixml/">
		<preLoadFiles>
			<!-- 此处填入预加载文件 -->
		</preLoadFiles>
	</resources>
	<setting>
		<!-- 此处填入游戏数据 -->
	</setting>
</root>